/* * Teal color (used for headings and backgrounds): `#4aaaa5`
* Regular font color (used for paragraphs and all text besides the headings): `#777777`
* Main header background color: `#ffffff`
* Main header border color: `#cccccc`
* Footer background color: `#666666`
* Main content background color: `#ffffff`
* Main content border color: `#dddddd` */


.navbar-brand {
    background-color: #4aaaa5;
    padding-top: 25px;
    padding-bottom: 50px;
    font-size: 20pt;
    font-weight: bold;
    position: relative;
}

.navbar-right {
    margin-top: 10px;
}

.navbar-right a {
    border-left: 1px solid #777777;
    opacity: .6;
    font-size: 16pt;
}


#index-about {
    border-left: none;
}

.container {
    width: 960px;
}


